  <nav>
    <div class="nav-wrapper navybg">
      <a href="/" class="brand-logo">Movie Node</a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/buscados">Historial</a></li>
        <li><a href="https://github.com/Anibaru">Github</a></li>
         

      </ul>
    </div>
  </nav>